In [2]:
### Imports for the Data Preprocessing
import numpy as np
import pandas as pd
import matplotlib as plt
import os
import gc
from typing import Tuple

In [5]:
# get working directory and remove last folder
# TODO: make this more robust
wd = os.path.dirname(os.getcwd())
os.chdir(wd)
print('Working Directory: ', os.getcwd())

Working Directory:  c:\Users\Stephan\Documents\Python\Python-Stat\Neuer\Kaggle_semiinar\student-performance

In [20]:
dtypes = {
    'level': np.uint8,
    "level_group": "category",
    'event_name': np.uint8,
    'name': np.uint8,
    'fqid': np.uint8,
    'room_fqid': np.uint8,           
    "text_fqid": np.uint8,
    'fullscreen': np.uint8,
    'hq': np.uint8,
    'music': np.uint8,
    'hover_duration_mean': np.float32,
    'difference_clicks_mean': np.float32,
    'elapsed_time_std': np.float32,
    'page_std': np.float32,
    'room_coor_x_std': np.float32,
    'room_coor_y_std': np.float32,
    'screen_coor_x_std': np.float32,
    'screen_coor_y_std': np.float32,
    'hover_duration_std': np.float32,
    'difference_clicks_std': np.float32,
    'index_sum_of_actions': np.float32,
    'difference_clicks_max': np.float32,
    'elapsed_time_max': np.float32,
    'clicks_per_second': np.float32}

dataset_df = pd.read_csv("data/processed/dataset_df_level.csv", dtype=dtypes)

#load the label dataset
#labels = pd.read_csv("data/processed/labels.csv")
dataset_df_0_4 = pd.read_csv("data/processed/df_0_4.csv", dtype=dtypes, index_col= 0)
dataset_df_0_4 = dataset_df_0_4.reset_index(drop=True)

In [ ]:
def split_dataset(dataset, test_ratio=0.20):
    USER_LIST = dataset_df.index.unique()
    split = int(len(USER_LIST) * (1 - 0.20))
    return dataset.loc[USER_LIST[:split]], dataset.loc[USER_LIST[split:]]

train_x, valid_x = split_dataset(dataset_df)
print("{} examples in training, {} examples in testing.".format(
    len(train_x), len(valid_x)))

In [ ]:
# Fetch the unique list of user sessions in the validation dataset. We assigned 
# `session_id` as the index of our feature engineered dataset. Hence fetching 
# the unique values in the index column will give us a list of users in the 
# validation set.
VALID_USER_LIST = valid_x.index.unique()

# Create a dataframe for storing the predictions of each question for all users
# in the validation set.
# For this, the required size of the data frame is: 
# (no: of users in validation set  x no of questions).
# We will initialize all the predicted values in the data frame to zero.
# The dataframe's index column is the user `session_id`s. 
prediction_df = pd.DataFrame(data=np.zeros((len(VALID_USER_LIST),18)), index=VALID_USER_LIST)

# Create an empty dictionary to store the models created for each question.
models = {}

# Create an empty dictionary to store the evaluation score for each question.
evaluation_dict ={}

In [ ]:
#get labels and data together
# Iterate through questions 1 to 18 to train models for each question, evaluate
# the trained model and store the predicted values.
for q_no in range(1,19):

    # Select level group for the question based on the q_no.
    if q_no<=3: grp = '0-4'
    elif q_no<=13: grp = '5-12'
    elif q_no<=22: grp = '13-22'
    print("### q_no", q_no, "grp", grp)
    
        
    # Filter the rows in the datasets based on the selected level group. 
    train_df = train_x.loc[train_x.level_group == grp]
    train_users = train_df.index.values
    valid_df = valid_x.loc[valid_x.level_group == grp]
    valid_users = valid_df.index.values

    # Select the labels for the related q_no.
    train_labels = labels.loc[labels.q==q_no].set_index('session').loc[train_users]
    valid_labels = labels.loc[labels.q==q_no].set_index('session').loc[valid_users]

    # Add the label to the filtered datasets.
    train_df["correct"] = train_labels["correct"]
    valid_df["correct"] = valid_labels["correct"]

In [17]:
def combine_rows(df, n_flatten=5, only_one=None, drop=None):
    """
    Combines every n_flatten rows of a Pandas DataFrame into a new DataFrame, with each row containing the combined values from the n_flatten rows.

    Args:
        df (pandas.DataFrame): The DataFrame to combine.
        n_flatten (int): The number of rows to be combined into a single row.
        only_one (list): A list of column names to keep only the first occurrence of in the output DataFrame.
        drop (list): A list of column names to drop from the input DataFrame before performing the calculation.

    Returns:
        pandas.DataFrame: A new DataFrame containing one row for every n_flatten rows of the input DataFrame, with each row containing the combined values from the n_flatten rows.
    """
    # Create a copy of the input DataFrame to modify
    df = df.copy()

    # Use value_counts() to get the count of each session_id
    counts = df['session_id'].value_counts()

    # Check if each group has the same number of rows
    if (counts % n_flatten).any():
        # Get the session_ids that need to be generated
        need_generating = counts[counts < n_flatten].index.tolist()
        num_generated_rows = 0
        
        # Loop through the session_ids that need to be generated
        for session_id in need_generating:
            # Generate a new row for this session_id
            new_row = {"session_id": session_id}
            for col in df.columns:
                if col == "session_id":
                    continue
                elif df[col].dtype.name == "category":
                    # Categorical column - set value to "generated"
                    new_row[col] = "generated"
                else:
                    # Numeric column - set value to average of other values in column with the same level
                    level_values = df.loc[df["session_id"] == session_id, "level"].unique()
                    for level in level_values:
                        if level == "generated":
                            continue
                        other_values = df.loc[(df["session_id"] == session_id) & (df["level"] == level), col]
                        if other_values.dtype.kind in 'biufc':
                            new_value = other_values.mean()
                            new_row[col] = new_value
                            break
            df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
            num_generated_rows += 1

        print(f"Generated {num_generated_rows} rows with indices: {list(range(len(df) - num_generated_rows, len(df)))}\n{new_row}")


    # Drop specified columns from input DataFrame
    if drop:
        df = df.drop(columns=drop)

    # Determine the number of rows and columns in the input DataFrame
    num_rows, num_cols = df.shape

    # Determine the number of new rows in the output DataFrame
    num_new_rows = num_rows // n_flatten

    # Reshape the flattened values into a new array with the desired shape
    values = df.values.flatten()
    new_values = values.reshape(num_new_rows, n_flatten*num_cols)

    # Create a new DataFrame from the reshaped values
    new_df = pd.DataFrame(new_values, columns=[f"{col}_{i}" for i in range(1, n_flatten+1) for col in df.columns])

    # Drop specified columns from output DataFrame
    if only_one:
        for col in only_one:
            keep_col = f"{col}_1"
            drop_cols = [f"{col}_{i}" for i in range(2, n_flatten+1)]
            new_df = new_df.drop(columns=drop_cols)

    return new_df

In [ ]:
# Example usage

new_df = combine_rows( df_13_22 ,n_flatten= 10 ,drop= ["level"], only_one= ["level_group","music", "hq", "fullscreen"])
#print(new_df)

In [16]:
df_13_22 = pd.read_csv("data\processed\df_13_22.csv", index_col= 0, nrows= 20000)
df_13_22 = df_13_22.reset_index(drop=True)
ex = ["level_group","music", "hq", "fullscreen"]
drop = ["level"]

In [8]:
df_13_22 = combine_rows(df_13_22,n_flatten= 10 ,drop= drop, only_one= ex)

NameError: name 'combine_rows' is not defined

In [15]:
def combine_rows(df, n_flatten=5, only_one=None, drop=None):
    """
    Combines every n_flatten rows of a Pandas DataFrame into a new DataFrame, with each row containing the combined values from the n_flatten rows.

    Args:
        df (pandas.DataFrame): The DataFrame to combine.
        n_flatten (int): The number of rows to be combined into a single row.
        only_one (list): A list of column names to keep only the first occurrence of in the output DataFrame.
        drop (list): A list of column names to drop from the input DataFrame before performing the calculation.

    Returns:
        pandas.DataFrame: A new DataFrame containing one row for every n_flatten rows of the input DataFrame, with each row containing the combined values from the n_flatten rows.
    """
    # Create a copy of the input DataFrame to modify
    df = df.copy()

    # Use value_counts() to get the count of each session_id
    counts = df['session_id'].value_counts()

    # Check if each group has the same number of rows
    if (counts % n_flatten).any():
        # Get the session_ids that need to be generated
        need_generating = counts[counts < n_flatten].index.tolist()
        num_generated_rows = 0
        
        # Loop through the session_ids that need to be generated
        for session_id in need_generating:
            # Generate new rows for this session_id
            num_missing_rows = n_flatten - counts[session_id]
            new_rows = []
            for i in range(num_missing_rows):
                new_row = {"session_id": session_id}
                for col in df.columns:
                    if col == "session_id":
                        continue
                    elif df[col].dtype.name == "category":
                        # Categorical column - set value to "generated"
                        new_row[col] = "generated"
                    else:
                        # Numeric column - set value to average of other values in column with the same level
                        level_values = df.loc[df["session_id"] == session_id, "level"].unique()
                        for level in level_values:
                            if level == "generated":
                                continue
                            other_values = df.loc[(df["session_id"] == session_id) & (df["level"] == level), col]
                            if other_values.dtype.kind in 'biufc':
                                new_value = other_values.mean()
                                new_row[col] = new_value
                                break
                new_rows.append(new_row)
            df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
            num_generated_rows += num_missing_rows

        print(f"Generated {num_generated_rows} rows with indices: {list(range(len(df) - num_generated_rows, len(df)))}\n{new_rows}")




    # Drop specified columns from input DataFrame
    if drop:
        df = df.drop(columns=drop)

    # Determine the number of rows and columns in the input DataFrame
    num_rows, num_cols = df.shape

    # Determine the number of new rows in the output DataFrame
    num_new_rows = (num_rows + num_generated_rows) // n_flatten

    # Reshape the flattened values into a new array with the desired shape
    values = df.values.flatten()
    new_values = values.reshape(num_new_rows, n_flatten*num_cols)

    # Create a new DataFrame from the reshaped values
    new_df = pd.DataFrame(new_values, columns=[f"{col}_{i}" for i in range(1, n_flatten+1) for col in df.columns])

    # Drop specified columns from output DataFrame
    if only_one:
        for col in only_one:
            keep_col = f"{col}_1"
            drop_cols = [f"{col}_{i}" for i in range(2, n_flatten+1)]
            new_df = new_df.drop(columns=drop_cols)

    return new_df

In [15]:
def generate_rows(df: pd.DataFrame, n_flatten: int) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    # Use value_counts() to get the count of each session_id
    counts = df['session_id'].value_counts()

    # Check if each group has the same number of rows
    if (counts % n_flatten).any():
        # Get the session_ids that need to be generated
        need_generating = counts[counts < n_flatten].index.tolist()
        num_generated_rows = 0
        generated_sessions = []
        generated_rows = []
        
        # Loop through the session_ids that need to be generated
        for session_id in need_generating:
            # Check if all levels are present in this session
            levels_present = set(df.loc[df['session_id'] == session_id, 'level'].unique())
            min_level = df['level'].min()
            max_level = df['level'].max()
            expected_levels = set(range(min_level, max_level + 1))
            if levels_present != expected_levels:
                # Generate new rows for missing levels
                missing_levels = expected_levels - levels_present
                new_rows = []
                for missing_level in missing_levels:
                    new_row = {"session_id": session_id, "level": missing_level}
                    for col in df.columns:
                        if col == "session_id" or col == "level":
                            continue
                        elif df[col].dtype.name == "category":
                            # Categorical column - set value to "generated"
                            new_row[col] = "generated"
                        else:
                            # Numeric column - set value to average of other values in column with the same level
                            other_values = df.loc[(df["session_id"] == session_id) & (df["level"] == missing_level), col]
                            if other_values.dtype.kind in 'biufc':
                                new_value = other_values.mean()
                                if np.isnan(new_value):
                                    new_value = df.loc[df["level"] == missing_level, col].mean()
                                new_row[col] = new_value
                    new_rows.append(new_row)

                # Add the new rows to the dataframe
                df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
                num_generated_rows += len(new_rows)
                generated_sessions.append({"session_id": session_id, "num_rows": len(new_rows)})
                generated_rows.extend(new_rows)

        print(f"Generated {num_generated_rows} rows with indices: {list(range(len(df) - num_generated_rows, len(df)))}")
        
        # Create output dataframe 2
        df2 = pd.DataFrame(generated_sessions)
        df2 = df2.set_index("session_id")
        print("Generated rows per session id:")
        print(df2)
        
        # Create output dataframe 3
        df3 = pd.DataFrame(generated_rows)
        df3 = df3.reindex(df.columns, axis=1)
        print("Generated rows:")
        print(df3)
    else: 
        df2 = []
        df3 = []
    return df, df2, df3

In [17]:
df_13_22, generated, rows_df = generate_rows(df_13_22, n_flatten= 10)

Generated 50 rows with indices: [20000, 20001, 20002, 20003, 20004, 20005, 20006, 20007, 20008, 20009, 20010, 20011, 20012, 20013, 20014, 20015, 20016, 20017, 20018, 20019, 20020, 20021, 20022, 20023, 20024, 20025, 20026, 20027, 20028, 20029, 20030, 20031, 20032, 20033, 20034, 20035, 20036, 20037, 20038, 20039, 20040, 20041, 20042, 20043, 20044, 20045, 20046, 20047, 20048, 20049]
Generated rows per session id:
                   num_rows
session_id
20090316190523732         1
20100214275616070         1
20100007445515820         1
20100411153285710         1
20100311385101428         1
20110210321880150         1
20110212420906190         1
20100312152757270         1
20110012235136684         1
20100118090535520         1
20110212174595004         1
20110010322671296         1
20110209130717610         1
20100116202427100         1
20100620261406990         1
20100319593860984         1
20110209485141690         1
20100318480867690         1
20100115142089760         1
20100318174525144         1
20100115005512812         1
20100523474474980         1
20110210180909070         1
20100510014844344         1
20100110093663916         1
20100310430520250         1
20100020122406090         1
20100510025822616         1
20110215162449400         1
20100014211946468         1
20100211432649536         1
20100413494435240         1
20100018421509572         1
20100211121053492         1
20110116152879256         1
20100513033741570         1
20100210135106010         1
20110213450098724         1
20100209423871468         1
20100309472366890         1
20100512192183730         1
20100310052382190         1
20100310085206010         1
20100610533703468         1
20100415143631610         2
20110219234738916         4
Generated rows:
           session_id  level  level_group  event_name      name       fqid  \
0   20090316190523732     15          NaN    5.997963  3.393075   9.706721
1   20100214275616070     15          NaN    5.997963  3.393075   9.706721
2   20100007445515820     15          NaN    5.997963  3.393075   9.706721
3   20100411153285710     15          NaN    5.997963  3.393075   9.706721
4   20100311385101428     15          NaN    5.997963  3.393075   9.706721
5   20110210321880150     15          NaN    5.997963  3.393075   9.706721
6   20110212420906190     15          NaN    5.997963  3.393075   9.706721
7   20100312152757270     15          NaN    5.997963  3.393075   9.706721
8   20110012235136684     15          NaN    5.997963  3.393075   9.706721
9   20100118090535520     15          NaN    5.997963  3.393075   9.706721
10  20110212174595004     15          NaN    5.997963  3.393075   9.706721
11  20110010322671296     15          NaN    5.997963  3.393075   9.706721
12  20110209130717610     15          NaN    5.997963  3.393075   9.706721
13  20100116202427100     15          NaN    5.997963  3.393075   9.706721
14  20100620261406990     15          NaN    5.997963  3.393075   9.706721
15  20100319593860984     15          NaN    5.997963  3.393075   9.706721
16  20110209485141690     15          NaN    5.997963  3.393075   9.706721
17  20100318480867690     15          NaN    5.997963  3.393075   9.706721
18  20100115142089760     15          NaN    5.997963  3.393075   9.706721
19  20100318174525144     15          NaN    5.997963  3.393075   9.706721
20  20100115005512812     15          NaN    5.997963  3.393075   9.706721
21  20100523474474980     15          NaN    5.997963  3.393075   9.706721
22  20110210180909070     15          NaN    5.997963  3.393075   9.706721
23  20100510014844344     15          NaN    5.997963  3.393075   9.706721
24  20100110093663916     20          NaN    7.183500  3.322500  12.729000
25  20100310430520250     15          NaN    5.997963  3.393075   9.706721
26  20100020122406090     20          NaN    7.183500  3.322500  12.729000
27  20100510025822616     15          NaN    5.997963  3.393075   9.706721
28  20110215162449400     15          NaN    5.997963  3.393075   9.706721
29  20100014211946468     15          NaN    5.997963  3.393075   9.706721
30  20100211432649536     15          NaN    5.997963  3.393075   9.706721
31  20100413494435240     15          NaN    5.997963  3.393075   9.706721
32  20100018421509572     15          NaN    5.997963  3.393075   9.706721
33  20100211121053492     15          NaN    5.997963  3.393075   9.706721
34  20110116152879256     15          NaN    5.997963  3.393075   9.706721
35  20100513033741570     15          NaN    5.997963  3.393075   9.706721
36  20100210135106010     15          NaN    5.997963  3.393075   9.706721
37  20110213450098724     15          NaN    5.997963  3.393075   9.706721
38  20100209423871468     15          NaN    5.997963  3.393075   9.706721
39  20100309472366890     20          NaN    7.183500  3.322500  12.729000
40  20100512192183730     21          NaN    7.471293  3.540689  17.024463
41  20100310052382190     15          NaN    5.997963  3.393075   9.706721
42  20100310085206010     15          NaN    5.997963  3.393075   9.706721
43  20100610533703468     15          NaN    5.997963  3.393075   9.706721
44  20100415143631610     20          NaN    7.183500  3.322500  12.729000
45  20100415143631610     15          NaN    5.997963  3.393075   9.706721
46  20110219234738916     19          NaN    6.701597  3.480040   6.278942
47  20110219234738916     20          NaN    7.183500  3.322500  12.729000
48  20110219234738916     21          NaN    7.471293  3.540689  17.024463
49  20110219234738916     22          NaN    4.381238  2.651198   6.265469

    room_fqid  text_fqid  fullscreen        hq  ...  room_coor_x_std  \
0    5.549389   3.574847    0.141548  0.126782  ...       633.858911
1    5.549389   3.574847    0.141548  0.126782  ...       633.858911
2    5.549389   3.574847    0.141548  0.126782  ...       633.858911
3    5.549389   3.574847    0.141548  0.126782  ...       633.858911
4    5.549389   3.574847    0.141548  0.126782  ...       633.858911
5    5.549389   3.574847    0.141548  0.126782  ...       633.858911
6    5.549389   3.574847    0.141548  0.126782  ...       633.858911
7    5.549389   3.574847    0.141548  0.126782  ...       633.858911
8    5.549389   3.574847    0.141548  0.126782  ...       633.858911
9    5.549389   3.574847    0.141548  0.126782  ...       633.858911
10   5.549389   3.574847    0.141548  0.126782  ...       633.858911
11   5.549389   3.574847    0.141548  0.126782  ...       633.858911
12   5.549389   3.574847    0.141548  0.126782  ...       633.858911
13   5.549389   3.574847    0.141548  0.126782  ...       633.858911
14   5.549389   3.574847    0.141548  0.126782  ...       633.858911
15   5.549389   3.574847    0.141548  0.126782  ...       633.858911
16   5.549389   3.574847    0.141548  0.126782  ...       633.858911
17   5.549389   3.574847    0.141548  0.126782  ...       633.858911
18   5.549389   3.574847    0.141548  0.126782  ...       633.858911
19   5.549389   3.574847    0.141548  0.126782  ...       633.858911
20   5.549389   3.574847    0.141548  0.126782  ...       633.858911
21   5.549389   3.574847    0.141548  0.126782  ...       633.858911
22   5.549389   3.574847    0.141548  0.126782  ...       633.858911
23   5.549389   3.574847    0.141548  0.126782  ...       633.858911
24   3.412000   2.560000    0.140000  0.127500  ...       305.634194
25   5.549389   3.574847    0.141548  0.126782  ...       633.858911
26   3.412000   2.560000    0.140000  0.127500  ...       305.634194
27   5.549389   3.574847    0.141548  0.126782  ...       633.858911
28   5.549389   3.574847    0.141548  0.126782  ...       633.858911
29   5.549389   3.574847    0.141548  0.126782  ...       633.858911
30   5.549389   3.574847    0.141548  0.126782  ...       633.858911
31   5.549389   3.574847    0.141548  0.126782  ...       633.858911
32   5.549389   3.574847    0.141548  0.126782  ...       633.858911
33   5.549389   3.574847    0.141548  0.126782  ...       633.858911
34   5.549389   3.574847    0.141548  0.126782  ...       633.858911
35   5.549389   3.574847    0.141548  0.126782  ...       633.858911
36   5.549389   3.574847    0.141548  0.126782  ...       633.858911
37   5.549389   3.574847    0.141548  0.126782  ...       633.858911
38   5.549389   3.574847    0.141548  0.126782  ...       633.858911
39   3.412000   2.560000    0.140000  0.127500  ...       305.634194
40   5.978033   4.613580    0.140290  0.127309  ...       340.735260
41   5.549389   3.574847    0.141548  0.126782  ...       633.858911
42   5.549389   3.574847    0.141548  0.126782  ...       633.858911
43   5.549389   3.574847    0.141548  0.126782  ...       633.858911
44   3.412000   2.560000    0.140000  0.127500  ...       305.634194
45   5.549389   3.574847    0.141548  0.126782  ...       633.858911
46   2.058383   3.800399    0.140220  0.127246  ...       382.323312
47   3.412000   2.560000    0.140000  0.127500  ...       305.634194
48   5.978033   4.613580    0.140290  0.127309  ...       340.735260
49   3.433633   0.160679    0.140220  0.127246  ...       411.933894

    room_coor_y_std  screen_coor_x_std  screen_coor_y_std  hover_duration_std  \
0        181.396420         252.106511         132.631936         1803.215590
1        181.396420         252.106511         132.631936         1803.215590
2        181.396420         252.106511         132.631936         1803.215590
3        181.396420         252.106511         132.631936         1803.215590
4        181.396420         252.106511         132.631936         1803.215590
5        181.396420         252.106511         132.631936         1803.215590
6        181.396420         252.106511         132.631936         1803.215590
7        181.396420         252.106511         132.631936         1803.215590
8        181.396420         252.106511         132.631936         1803.215590
9        181.396420         252.106511         132.631936         1803.215590
10       181.396420         252.106511         132.631936         1803.215590
11       181.396420         252.106511         132.631936         1803.215590
12       181.396420         252.106511         132.631936         1803.215590
13       181.396420         252.106511         132.631936         1803.215590
14       181.396420         252.106511         132.631936         1803.215590
15       181.396420         252.106511         132.631936         1803.215590
16       181.396420         252.106511         132.631936         1803.215590
17       181.396420         252.106511         132.631936         1803.215590
18       181.396420         252.106511         132.631936         1803.215590
19       181.396420         252.106511         132.631936         1803.215590
20       181.396420         252.106511         132.631936         1803.215590
21       181.396420         252.106511         132.631936         1803.215590
22       181.396420         252.106511         132.631936         1803.215590
23       181.396420         252.106511         132.631936         1803.215590
24       157.657595         208.851279         141.154603         6937.029742
25       181.396420         252.106511         132.631936         1803.215590
26       157.657595         208.851279         141.154603         6937.029742
27       181.396420         252.106511         132.631936         1803.215590
28       181.396420         252.106511         132.631936         1803.215590
29       181.396420         252.106511         132.631936         1803.215590
30       181.396420         252.106511         132.631936         1803.215590
31       181.396420         252.106511         132.631936         1803.215590
32       181.396420         252.106511         132.631936         1803.215590
33       181.396420         252.106511         132.631936         1803.215590
34       181.396420         252.106511         132.631936         1803.215590
35       181.396420         252.106511         132.631936         1803.215590
36       181.396420         252.106511         132.631936         1803.215590
37       181.396420         252.106511         132.631936         1803.215590
38       181.396420         252.106511         132.631936         1803.215590
39       157.657595         208.851279         141.154603         6937.029742
40       150.355259         226.349914         130.224918         2395.226285
41       181.396420         252.106511         132.631936         1803.215590
42       181.396420         252.106511         132.631936         1803.215590
43       181.396420         252.106511         132.631936         1803.215590
44       157.657595         208.851279         141.154603         6937.029742
45       181.396420         252.106511         132.631936         1803.215590
46       310.743615         192.809794         140.192997          918.604854
47       157.657595         208.851279         141.154603         6937.029742
48       150.355259         226.349914         130.224918         2395.226285
49       162.695903         242.648482         145.511604          379.963252

    difference_clicks_std  index_sum_of_actions  difference_clicks_max  \
0                5.949074             57.591141              43.285412
1                5.949074             57.591141              43.285412
2                5.949074             57.591141              43.285412
3                5.949074             57.591141              43.285412
4                5.949074             57.591141              43.285412
5                5.949074             57.591141              43.285412
6                5.949074             57.591141              43.285412
7                5.949074             57.591141              43.285412
8                5.949074             57.591141              43.285412
9                5.949074             57.591141              43.285412
10               5.949074             57.591141              43.285412
11               5.949074             57.591141              43.285412
12               5.949074             57.591141              43.285412
13               5.949074             57.591141              43.285412
14               5.949074             57.591141              43.285412
15               5.949074             57.591141              43.285412
16               5.949074             57.591141              43.285412
17               5.949074             57.591141              43.285412
18               5.949074             57.591141              43.285412
19               5.949074             57.591141              43.285412
20               5.949074             57.591141              43.285412
21               5.949074             57.591141              43.285412
22               5.949074             57.591141              43.285412
23               5.949074             57.591141              43.285412
24              24.065911             51.740000             144.559817
25               5.949074             57.591141              43.285412
26              24.065911             51.740000             144.559817
27               5.949074             57.591141              43.285412
28               5.949074             57.591141              43.285412
29               5.949074             57.591141              43.285412
30               5.949074             57.591141              43.285412
31               5.949074             57.591141              43.285412
32               5.949074             57.591141              43.285412
33               5.949074             57.591141              43.285412
34               5.949074             57.591141              43.285412
35               5.949074             57.591141              43.285412
36               5.949074             57.591141              43.285412
37               5.949074             57.591141              43.285412
38               5.949074             57.591141              43.285412
39              24.065911             51.740000             144.559817
40              12.366104             94.129306             137.277377
41               5.949074             57.591141              43.285412
42               5.949074             57.591141              43.285412
43               5.949074             57.591141              43.285412
44              24.065911             51.740000             144.559817
45               5.949074             57.591141              43.285412
46              70.232268             54.434631             408.776123
47              24.065911             51.740000             144.559817
48              12.366104             94.129306             137.277377
49              16.350862             22.113273              99.155663

    elapsed_time_max  clicks_per_second
0         109.705038           0.790943
1         109.705038           0.790943
2         109.705038           0.790943
3         109.705038           0.790943
4         109.705038           0.790943
5         109.705038           0.790943
6         109.705038           0.790943
7         109.705038           0.790943
8         109.705038           0.790943
9         109.705038           0.790943
10        109.705038           0.790943
11        109.705038           0.790943
12        109.705038           0.790943
13        109.705038           0.790943
14        109.705038           0.790943
15        109.705038           0.790943
16        109.705038           0.790943
17        109.705038           0.790943
18        109.705038           0.790943
19        109.705038           0.790943
20        109.705038           0.790943
21        109.705038           0.790943
22        109.705038           0.790943
23        109.705038           0.790943
24        202.075804           0.810066
25        109.705038           0.790943
26        202.075804           0.810066
27        109.705038           0.790943
28        109.705038           0.790943
29        109.705038           0.790943
30        109.705038           0.790943
31        109.705038           0.790943
32        109.705038           0.790943
33        109.705038           0.790943
34        109.705038           0.790943
35        109.705038           0.790943
36        109.705038           0.790943
37        109.705038           0.790943
38        109.705038           0.790943
39        202.075804           0.810066
40        247.358364           0.814173
41        109.705038           0.790943
42        109.705038           0.790943
43        109.705038           0.790943
44        202.075804           0.810066
45        109.705038           0.790943
46        481.332857           0.760698
47        202.075804           0.810066
48        247.358364           0.814173
49        116.351439           0.907462

[50 rows x 25 columns]

In [11]:
nm = new_df["session_id"].value_counts()

In [26]:

df1,collected,rowss = generate_rows(dataset_df_0_4, n_flatten= 5)