In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib as plt

In [11]:
import os
os.getcwd()
os.chdir("c:\\Users\\Stephan\\Documents\\Python\\Python-Stat\\Neuer\\Kaggle_semiinar\\student-performance")

In [12]:
#load data
dtypes={
    'elapsed_time':np.int32,
    'event_name':'category',
    'name':'category',
    'level':np.uint8,
    'room_coor_x':np.float32,
    'room_coor_y':np.float32,
    'screen_coor_x':np.float32,
    'screen_coor_y':np.float32,
    'hover_duration':np.float32,
    'text':'category',
    'fqid':'category',
    'room_fqid':'category',
    'text_fqid':'category',
    'fullscreen':'category',
    'hq':'category',
    'music':'category',
    'level_group':'category'}

dataset_df = pd.read_csv('data/raw/train.csv', dtype=dtypes)
print("Full train dataset shape is {}".format(dataset_df.shape))

Full train dataset shape is (26296946, 20)

In [13]:
#start explorative analysis
dataset_df.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991394,-159.314682,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

Was f√ºr Variablen haben wir und welches Skalenniveau haben die 
Numerisch: Session_id, idex, elapsed time, level, page, coordinaten, hover duration, fullscreen, hq, music
Ordinal
Nominal: event name, name, text, fqid, room_fqid, test_fqid

In [14]:
#
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26296946 entries, 0 to 26296945
Data columns (total 20 columns):
 #   Column          Dtype
---  ------          -----
 0   session_id      int64
 1   index           int64
 2   elapsed_time    int32
 3   event_name      category
 4   name            category
 5   level           uint8
 6   page            float64
 7   room_coor_x     float32
 8   room_coor_y     float32
 9   screen_coor_x   float32
 10  screen_coor_y   float32
 11  hover_duration  float32
 12  text            category
 13  fqid            category
 14  room_fqid       category
 15  text_fqid       category
 16  fullscreen      category
 17  hq              category
 18  music           category
 19  level_group     category
dtypes: category(10), float32(5), float64(1), int32(1), int64(2), uint8(1)
memory usage: 1.5 GB

In [44]:
# erNominal: event name, name, text, fqid, room_fqid, test_fqid 
print("Was steht in der Spalte name \n" , dataset_df["name"].value_counts())
print("\n\n\n\nWas steht in der Spalte text \n",dataset_df["text"].value_counts())
print("Wie viele verschiedene texte haben wir \n",len((dataset_df["text"].value_counts())))

Was steht in der Spalte name
 undefined    12705785
basic        12648469
close          676696
open           235139
prev            19250
next            11607
Name: name, dtype: int64




Was steht in der Spalte text
 undefined                                      355969
\u00f0\u0178\u02dc\u0090                        48805
Hey!                                            47452
I should go to the Capitol and tell Mrs. M!     40463
This is perfect for the exhibit.                40218
                                                ...
I figured out that you kidnapped him!               1
Here I am!                                          1
He needs our help!                                  1
He got a park named after him? Cool!                1
Why don't you prove your case?                      1
Name: text, Length: 597, dtype: int64
Wie viele verschiedene texte haben wir
 597

In [36]:
print("Was steht in der Spalte event name \n",dataset_df["event_name"].value_counts())
print("\n\n\n\nWas steht in der Spalte fqid \n",dataset_df["fqid"].value_counts())

Was steht in der Spalte event name
 navigate_click        11326433
person_click           6052853
cutscene_click         2703035
object_click           2198211
object_hover           1057085
map_hover               945159
notification_click      649001
notebook_click          564544
map_click               517242
observation_click       212355
checkpoint               71028
Name: event_name, dtype: int64




Was steht in der Spalte fqid
 worker           1878958
archivist        1127341
gramps           1122264
wells             787418
toentry           784496
                  ...
need_glasses        1297
block_badge_2        993
fox                  465
block_1               37
chap2_finale           1
Name: fqid, Length: 128, dtype: int64

In [39]:
print("Was steht in der Spalte room fqid \n",dataset_df["room_fqid"].value_counts())

Was steht in der Spalte room fqid
 tunic.historicalsociety.entry              3622003
tunic.wildlife.center                      3013154
tunic.historicalsociety.cage               2352083
tunic.library.frontdesk                    2145666
tunic.historicalsociety.frontdesk          1943066
tunic.historicalsociety.stacks             1794007
tunic.historicalsociety.closet_dirty       1568994
tunic.humanecology.frontdesk               1326890
tunic.historicalsociety.basement           1168090
tunic.kohlcenter.halloffame                1096872
tunic.library.microfiche                    995674
tunic.drycleaner.frontdesk                  981451
tunic.historicalsociety.collection          957400
tunic.historicalsociety.closet              857273
tunic.flaghouse.entry                       833793
tunic.historicalsociety.collection_flag     452397
tunic.capitol_1.hall                        445569
tunic.capitol_0.hall                        416469
tunic.capitol_2.hall                        326095
Name: room_fqid, dtype: int64




Was steht in der Spalte text fqid
 tunic.historicalsociety.cage.confrontation               666557
tunic.wildlife.center.crane_ranger.crane                 470755
tunic.historicalsociety.frontdesk.archivist.newspaper    429762
tunic.historicalsociety.entry.groupconvo                 427180
tunic.wildlife.center.wells.nodeer                       399967
                                                          ...
tunic.capitol_2.hall.chap4_finale_c                         280
tunic.drycleaner.frontdesk.block_0                          221
tunic.historicalsociety.entry.gramps.hub                     39
tunic.humanecology.frontdesk.block_1                         13
tunic.drycleaner.frontdesk.block_1                            3
Name: text_fqid, Length: 126, dtype: int64

In [40]:
print("Was steht in der Spalte text fqid \n",dataset_df["text_fqid"].value_counts())

Was steht in der Spalte text fqid
 tunic.historicalsociety.cage.confrontation               666557
tunic.wildlife.center.crane_ranger.crane                 470755
tunic.historicalsociety.frontdesk.archivist.newspaper    429762
tunic.historicalsociety.entry.groupconvo                 427180
tunic.wildlife.center.wells.nodeer                       399967
                                                          ...
tunic.capitol_2.hall.chap4_finale_c                         280
tunic.drycleaner.frontdesk.block_0                          221
tunic.historicalsociety.entry.gramps.hub                     39
tunic.humanecology.frontdesk.block_1                         13
tunic.drycleaner.frontdesk.block_1                            3
Name: text_fqid, Length: 126, dtype: int64