In [35]:
#imports
import numpy as np
import pandas as pd
import matplotlib as plt

In [36]:
import os
os.getcwd()
#os.chdir("c:\\Users\\Stephan\\Documents\\Python\\Python-Stat\\Neuer\\Kaggle_semiinar\\student-performance")
os.chdir("N:\MASTER_DS\Code\Kaggle_competition\Kaggle-seminar\student-performance")

In [37]:
#load data
dtypes={
    'elapsed_time':np.int32,
    'event_name':'category',
    'name':'category',
    'level':np.uint8,
    'room_coor_x':np.float32,
    "index": np.int32,
    'room_coor_y':np.float32,
    'screen_coor_x':np.float32,
    'screen_coor_y':np.float32,
    'hover_duration':np.float32,
    'text':'category',
    'fqid':'category',
    'room_fqid':'category',
    'text_fqid':'category',
    'fullscreen':'category',
    'hq':'category',
    'music':'category',
    'level_group':'category'}

dataset_df = pd.read_csv('data/raw/train.csv', dtype=dtypes)
#FOR TEST PURPOSESES
#dataset_df = pd.read_csv("data/raw/train.csv", dtype = dtypes, nrows = 200000)
print("Full train dataset shape is {}".format(dataset_df.shape))

Full train dataset shape is (200000, 20)

In [38]:
#start explorative analysis
dataset_df.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991394,-159.314682,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991394,-159.314682,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

Was für Variablen haben wir und welches Skalenniveau haben die 
Numerisch: Session_id, idex, elapsed time, level, page, coordinaten, hover duration, fullscreen, hq, music
Ordinal
Nominal: event name, name, text, fqid, room_fqid, test_fqid

In [11]:
#
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   session_id      200000 non-null  int64
 1   index           200000 non-null  int64
 2   elapsed_time    200000 non-null  int32
 3   event_name      200000 non-null  category
 4   name            200000 non-null  category
 5   level           200000 non-null  uint8
 6   page            4096 non-null    float64
 7   room_coor_x     182079 non-null  float32
 8   room_coor_y     182079 non-null  float32
 9   screen_coor_x   182079 non-null  float32
 10  screen_coor_y   182079 non-null  float32
 11  hover_duration  17389 non-null   float32
 12  text            71594 non-null   category
 13  fqid            138289 non-null  category
 14  room_fqid       200000 non-null  category
 15  text_fqid       71594 non-null   category
 16  fullscreen      200000 non-null  category
 17  hq              200000 non-null  category
 18  music           200000 non-null  category
 19  level_group     200000 non-null  category
dtypes: category(10), float32(5), float64(1), int32(1), int64(2), uint8(1)
memory usage: 11.5 MB

In [12]:
# erNominal: event name, name, text, fqid, room_fqid, test_fqid 
print("Was steht in der Spalte name \n" , dataset_df["name"].value_counts())
print("\n\n\n\nWas steht in der Spalte text \n",dataset_df["text"].value_counts())
print("Wie viele verschiedene texte haben wir \n",len((dataset_df["text"].value_counts())))

Was steht in der Spalte name
 undefined    96833
basic        96181
close         5034
open          1697
prev           182
next            73
Name: name, dtype: int64




Was steht in der Spalte text
 undefined                                                    2443
Hey!                                                          355
\u00f0\u0178\u02dc\u0090                                      324
If I were you, I'd go to the library and do some digging.     297
I should go to the Capitol and tell Mrs. M!                   296
                                                             ...
I should find out if she can help me!                           1
Ooh, nice decorations!                                          1
Oh no... they got sick from polluted water?                     1
Poor foxes!                                                     1
What is it, Teddy?                                              1
Name: text, Length: 559, dtype: int64
Wie viele verschiedene texte haben wir
 559

In [13]:
print("Was steht in der Spalte event name \n",dataset_df["event_name"].value_counts())
print("\n\n\n\nWas steht in der Spalte fqid \n",dataset_df["fqid"].value_counts())

Was steht in der Spalte event name
 navigate_click        85416
person_click          45288
cutscene_click        19787
object_click          16799
object_hover           8840
map_hover              8549
notification_click     4803
map_click              4174
notebook_click         4096
observation_click      1716
checkpoint              532
Name: event_name, dtype: int64




Was steht in der Spalte fqid
 worker                14131
gramps                 8390
archivist              8361
toentry                6209
wells                  5806
                      ...
block_nelson             12
block_tocollection       11
block_tomap1             10
block_badge_2             7
fox                       5
Name: fqid, Length: 126, dtype: int64

In [14]:
print("Was steht in der Spalte room fqid \n",dataset_df["room_fqid"].value_counts())

Was steht in der Spalte room fqid
 tunic.historicalsociety.entry              27420
tunic.wildlife.center                      21842
tunic.historicalsociety.cage               17640
tunic.library.frontdesk                    16042
tunic.historicalsociety.frontdesk          14526
tunic.historicalsociety.stacks             14259
tunic.historicalsociety.closet_dirty       12108
tunic.humanecology.frontdesk               10607
tunic.kohlcenter.halloffame                 8833
tunic.historicalsociety.basement            8785
tunic.drycleaner.frontdesk                  7558
tunic.library.microfiche                    7522
tunic.historicalsociety.collection          7167
tunic.historicalsociety.closet              6348
tunic.flaghouse.entry                       6230
tunic.capitol_1.hall                        3641
tunic.historicalsociety.collection_flag     3543
tunic.capitol_2.hall                        2991
tunic.capitol_0.hall                        2938
Name: room_fqid, dtype: int64

In [15]:
print("Was steht in der Spalte text fqid \n",dataset_df["text_fqid"].value_counts())

Was steht in der Spalte text fqid
 tunic.historicalsociety.cage.confrontation               4804
tunic.wildlife.center.crane_ranger.crane                 3563
tunic.historicalsociety.frontdesk.archivist.newspaper    3221
tunic.historicalsociety.entry.groupconvo                 3092
tunic.wildlife.center.wells.nodeer                       2952
                                                         ...
tunic.library.frontdesk.block_badge_2                       3
tunic.kohlcenter.halloffame.block_0                         2
tunic.historicalsociety.collection.gramps.look_0            2
tunic.library.microfiche.block_0                            2
tunic.drycleaner.frontdesk.block_0                          1
Name: text_fqid, Length: 123, dtype: int64

Um die Zeit zu analysieren muss eine Variable erstellt werden, die die differenz der Zeilen voneinander darstellt.
Die Differenz zeigt wie viel Zeit zwischen Aktionen vergangen ist. Damit kann man dann dinge wie
 klicks pro Sekunde im level
 summer der klicks im level
 Dauer des levels

In [16]:


CATEGORICAL = ['event_name', 'name', 'fqid', 'room_fqid', 'text_fqid']
NUMERICAL = ['elapsed_time','page','room_coor_x', 'room_coor_y', 'screen_coor_x', 'screen_coor_y', 'hover_duration',"difference_clicks"]

def adding_new_variables(dataset_df):
    dataset_df = dataset_df.sort_values(['session_id','elapsed_time'])
    group = dataset_df.groupby(["session_id","level"])["elapsed_time"].diff()
    group = group.fillna(value= 0)
    dataset_df= dataset_df.assign(difference_clicks = group)

    return dataset_df


def feature_engineer_steve(dataset_df):
    dfs = []
    for c in CATEGORICAL:
        tmp = dataset_df.groupby(['session_id','level'])[c].agg('nunique')
        tmp.name = tmp.name + '_nunique'
        dfs.append(tmp)
    for c in NUMERICAL:
        tmp = dataset_df.groupby(['session_id','level'])[c].agg('mean')
        dfs.append(tmp)
    for c in NUMERICAL:
        tmp = dataset_df.groupby(['session_id','level'])[c].agg('std')
        tmp.name = tmp.name + '_std'
        dfs.append(tmp)
    dataset_df = pd.concat(dfs,axis=1)
    dataset_df = dataset_df.fillna(-1)
    dataset_df = dataset_df.reset_index()
    dataset_df = dataset_df.set_index('session_id')
    return dataset_df

In [17]:
dataset_df = adding_new_variables(dataset_df)
#dataset_df = feature_engineer_steve(dataset_df)

In [18]:
print(dataset_df)

               session_id  index  elapsed_time      event_name       name  \
0       20090312431273200      0             0  cutscene_click      basic
2       20090312431273200      2           831    person_click      basic
3       20090312431273200      3          1147    person_click      basic
1       20090312431273200      1          1323    person_click      basic
4       20090312431273200      4          1863    person_click      basic
...                   ...    ...           ...             ...        ...
199995  20100110555341692    675       1494117  navigate_click  undefined
199996  20100110555341692    676       1495827    person_click      basic
199997  20100110555341692    677       1497517    person_click      basic
199998  20100110555341692    678       1499661    person_click      basic
199999  20100110555341692    679       1501029    person_click      basic

        level  page  room_coor_x  room_coor_y  screen_coor_x  ...  \
0           0   NaN  -413.991394  -159.314682          380.0  ...
2           0   NaN  -413.991394  -159.314682          380.0  ...
3           0   NaN  -413.991394  -159.314682          380.0  ...
1           0   NaN  -413.991394  -159.314682          380.0  ...
4           0   NaN  -412.991394  -159.314682          381.0  ...
...       ...   ...          ...          ...            ...  ...
199995     18   NaN   344.408051   112.294579          581.0  ...
199996     18   NaN   426.731171  -126.798515          614.0  ...
199997     18   NaN   353.395935    64.406410          568.0  ...
199998     18   NaN   356.721466    33.497581          570.0  ...
199999     18   NaN   495.134674   -16.980680          655.0  ...

        hover_duration                                               text  \
0                  NaN                                          undefined
2                  NaN                             Just talking to Teddy.
3                  NaN                         I gotta run to my meeting!
1                  NaN                      Whatcha doing over there, Jo?
4                  NaN                                Can I come, Gramps?
...                ...                                                ...
199995             NaN                                                NaN
199996             NaN        Do you know where I can find a deer expert?
199997             NaN  Hmm. You could try the Aldo Leopold Wildlife C...
199998             NaN  I have to head over there and check out the an...
199999             NaN                                I'll ride with you!

          fqid                       room_fqid  \
0        intro  tunic.historicalsociety.closet
2       gramps  tunic.historicalsociety.closet
3       gramps  tunic.historicalsociety.closet
1       gramps  tunic.historicalsociety.closet
4       gramps  tunic.historicalsociety.closet
...        ...                             ...
199995    boss   tunic.historicalsociety.entry
199996    boss   tunic.historicalsociety.entry
199997    boss   tunic.historicalsociety.entry
199998    boss   tunic.historicalsociety.entry
199999    boss   tunic.historicalsociety.entry

                                                text_fqid fullscreen hq music  \
0                    tunic.historicalsociety.closet.intro          0  0     1
2       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
3       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
1       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
4       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
...                                                   ...        ... ..   ...
199995                                                NaN          0  0     1
199996            tunic.historicalsociety.entry.boss.flag          0  0     1
199997            tunic.historicalsociety.entry.boss.flag          0  0     1
199998            tunic.historicalsociety.entry.boss.flag          0  0     1
199999            tunic.historicalsociety.entry.boss.flag          0  0     1

       level_group difference_clicks
0              0-4               0.0
2              0-4             831.0
3              0-4             316.0
1              0-4             176.0
4              0-4             540.0
...            ...               ...
199995       13-22             977.0
199996       13-22            1710.0
199997       13-22            1690.0
199998       13-22            2144.0
199999       13-22            1368.0

[200000 rows x 21 columns]

In [20]:
#Daten sortieren, gruppieren und neue variable berechnen. fehlende Wete durch 0 ersetzten
#, da sie am Anfang einer Session auftreten
dataset_df = dataset_df.sort_values(['session_id','elapsed_time'])
group = dataset_df.groupby(["session_id","level"])["elapsed_time"].diff()
group = group.fillna(value= 0)
dataset_df= dataset_df.assign(difference_clicks = group)
mean_time_between_clicks = dataset_df.groupby(['session_id','level'])['difference_clicks'].agg("mean")
std_time_between_clicks = dataset_df.groupby(['session_id','level'])['difference_clicks'].agg("std")
#print(dataset_df["difference_clicks"])
print(dataset_df)
print(mean_time_between_clicks)
print(std_time_between_clicks)

               session_id  index  elapsed_time      event_name       name  \
0       20090312431273200      0             0  cutscene_click      basic
2       20090312431273200      2           831    person_click      basic
3       20090312431273200      3          1147    person_click      basic
1       20090312431273200      1          1323    person_click      basic
4       20090312431273200      4          1863    person_click      basic
...                   ...    ...           ...             ...        ...
199995  20100110555341692    675       1494117  navigate_click  undefined
199996  20100110555341692    676       1495827    person_click      basic
199997  20100110555341692    677       1497517    person_click      basic
199998  20100110555341692    678       1499661    person_click      basic
199999  20100110555341692    679       1501029    person_click      basic

        level  page  room_coor_x  room_coor_y  screen_coor_x  ...  \
0           0   NaN  -413.991394  -159.314682          380.0  ...
2           0   NaN  -413.991394  -159.314682          380.0  ...
3           0   NaN  -413.991394  -159.314682          380.0  ...
1           0   NaN  -413.991394  -159.314682          380.0  ...
4           0   NaN  -412.991394  -159.314682          381.0  ...
...       ...   ...          ...          ...            ...  ...
199995     18   NaN   344.408051   112.294579          581.0  ...
199996     18   NaN   426.731171  -126.798515          614.0  ...
199997     18   NaN   353.395935    64.406410          568.0  ...
199998     18   NaN   356.721466    33.497581          570.0  ...
199999     18   NaN   495.134674   -16.980680          655.0  ...

        hover_duration                                               text  \
0                  NaN                                          undefined
2                  NaN                             Just talking to Teddy.
3                  NaN                         I gotta run to my meeting!
1                  NaN                      Whatcha doing over there, Jo?
4                  NaN                                Can I come, Gramps?
...                ...                                                ...
199995             NaN                                                NaN
199996             NaN        Do you know where I can find a deer expert?
199997             NaN  Hmm. You could try the Aldo Leopold Wildlife C...
199998             NaN  I have to head over there and check out the an...
199999             NaN                                I'll ride with you!

          fqid                       room_fqid  \
0        intro  tunic.historicalsociety.closet
2       gramps  tunic.historicalsociety.closet
3       gramps  tunic.historicalsociety.closet
1       gramps  tunic.historicalsociety.closet
4       gramps  tunic.historicalsociety.closet
...        ...                             ...
199995    boss   tunic.historicalsociety.entry
199996    boss   tunic.historicalsociety.entry
199997    boss   tunic.historicalsociety.entry
199998    boss   tunic.historicalsociety.entry
199999    boss   tunic.historicalsociety.entry

                                                text_fqid fullscreen hq music  \
0                    tunic.historicalsociety.closet.intro          0  0     1
2       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
3       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
1       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
4       tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
...                                                   ...        ... ..   ...
199995                                                NaN          0  0     1
199996            tunic.historicalsociety.entry.boss.flag          0  0     1
199997            tunic.historicalsociety.entry.boss.flag          0  0     1
199998            tunic.historicalsociety.entry.boss.flag          0  0     1
199999            tunic.historicalsociety.entry.boss.flag          0  0     1

       level_group difference_clicks
0              0-4               0.0
2              0-4             831.0
3              0-4             316.0
1              0-4             176.0
4              0-4             540.0
...            ...               ...
199995       13-22             977.0
199996       13-22            1710.0
199997       13-22            1690.0
199998       13-22            2144.0
199999       13-22            1368.0

[200000 rows x 21 columns]
session_id         level
20090312431273200  0         920.214286
                   1        1167.062500
                   2         878.282051
                   3        1032.301887
                   4        2970.846154
                               ...
20100110555341692  14       1831.311688
                   15       1704.339286
                   16       1390.709677
                   17       1805.000000
                   18       1631.727273
Name: difference_clicks, Length: 4061, dtype: float64
session_id         level
20090312431273200  0         473.708643
                   1        1068.973156
                   2         520.979035
                   3         886.426742
                   4        8380.692462
                               ...
20100110555341692  14       1079.513405
                   15        819.873411
                   16        720.471799
                   17       1250.549060
                   18       1032.745310
Name: difference_clicks, Length: 4061, dtype: float64

In [39]:
dataset_df = dataset_df.groupby(['session_id','level'])["index"].agg('max') - dataset_df.groupby(['session_id','level'])["index"].agg('min') 
print(dataset_df)

session_id         level
20090312431273200  0        27
                   1        31
                   2        38
                   3        52
                   4        12
                            ..
20100110555341692  14       76
                   15       55
                   16       30
                   17       21
                   18       21
Name: index, Length: 4061, dtype: int32