In [3]:
### Imports for the Data Preprocessing
import numpy as np
import pandas as pd
import matplotlib as plt
import os
import gc

In [5]:
# get working directory and remove last folder
# TODO: make this more robust
wd = os.path.dirname(os.getcwd())
os.chdir(wd)
print('Working Directory: ', os.getcwd())

Working Directory:  n:\MASTER_DS\Code\Kaggle_competition\Kaggle-seminar\student-performance

In [5]:
dtypes={
    'elapsed_time':np.int32,
    'event_name':'category',
    'name':'category',
    'level':np.uint8,
    'room_coor_x':np.float32,
    'index':np.int32,
    'room_coor_y':np.float32,
    'screen_coor_x':np.float32,
    'screen_coor_y':np.float32,
    'hover_duration':np.float32,
    'text':'category',
    'fqid':'category',
    'room_fqid':'category',
    'text_fqid':'category',
    'fullscreen':'category',
    'hq':'category',
    'music':'category',
    'level_group':'category'}


# os.chdir('N:\MASTER_DS\Code\Kaggle_competition\Kaggle-seminar\student-performance')
dataset_df = pd.read_csv('data/raw/train.csv', dtype=dtypes, nrows= 20000)

In [6]:
#preprocessing function to add variables and rescale the time 
def adding_new_variables_rescaling(dataset_df):
    dataset_df = dataset_df.sort_values(['session_id','elapsed_time'])
    dataset_df['elapsed_time'] = dataset_df['elapsed_time']/1000
    group = dataset_df.groupby(['session_id','level'])['elapsed_time'].diff()
    group = group.fillna(value= 0)
    dataset_df= dataset_df.assign(difference_clicks = group)

    return dataset_df

In [7]:
#preprocessing to combine variables on level stage
#Function to clean the sequential data for the training of the model

#For that Function to work we need to specify the variables in Categorical and Numerical & Counting

CATEGORICAL = ['event_name', 'name', 'fqid', 'room_fqid', 'text_fqid', 'fullscreen', 'hq', 'music']
NUMERICALmean = ['hover_duration','difference_clicks']
NUMERICALstd = ['elapsed_time','page','room_coor_x', 'room_coor_y', 'screen_coor_x', 'screen_coor_y', 'hover_duration', 'difference_clicks']
COUNTING = ['index']
MAXIMUM = ['difference_clicks', 'elapsed_time']



def feature_engineer_steve(dataset_df):
    dfs = []
    tmp = dataset_df.groupby(['session_id','level'])["level_group"].first()
    tmp.name = tmp.name 
    dfs.append(tmp)
    for c in CATEGORICAL:
        if c not in ['fullscreen', 'hq', 'music']:
            tmp = dataset_df.groupby(['session_id','level'])[c].agg('nunique')
        else:
            tmp = dataset_df.groupby(['session_id','level'])[c].first().astype(int).fillna(0)
        dfs.append(tmp)
    for c in NUMERICALmean:
        tmp = dataset_df.groupby(['session_id','level'])[c].agg('mean')
        tmp.name = tmp.name + '_mean'
        dfs.append(tmp)
    for c in NUMERICALstd:
        tmp = dataset_df.groupby(['session_id','level'])[c].agg('std')
        tmp.name = tmp.name + '_std'
        dfs.append(tmp)    
    for c in COUNTING:
        tmp = 1+ dataset_df.groupby(['session_id','level'])[c].agg('max')- dataset_df.groupby(['session_id','level'])[c].agg('min') 
        tmp.name = tmp.name + '_sum_of_actions'
        dfs.append(tmp)
    for c in MAXIMUM:
        tmp = dataset_df.groupby(['session_id','level'])[c].agg('max')- dataset_df.groupby(['session_id','level'])[c].agg('min') 
        tmp.name = tmp.name + '_max'
        dfs.append(tmp)
    
    dataset_df = pd.concat(dfs,axis=1)
    dataset_df = dataset_df.fillna(-1)
    dataset_df = dataset_df.reset_index()
    dataset_df = dataset_df.set_index('session_id') 
    
# add Clicks per second afterwards cause we need the time for each level first
    dataset_df['clicks_per_second'] = dataset_df['index_sum_of_actions']/ dataset_df['elapsed_time_max']
 
    return dataset_df

In [8]:
import gc
import pandas as pd

def clear_memory(keep_list=None):
    if keep_list is None:
        keep_list = []
    for name in dir():
        if not name.startswith('_') and name not in keep_list:
            value = globals()[name]
            if isinstance(value, pd.DataFrame):
                del globals()[name]
    gc.collect()

In [9]:
#return the preprocessed data
##test data preprocessing with Subset of 5 million rows

dataset_df_added = adding_new_variables_rescaling(dataset_df)
dataset_df_level = feature_engineer_steve(dataset_df_added)
print(dataset_df_added)
print(dataset_df_level)

              session_id  index  elapsed_time          event_name       name  \
0      20090312431273200      0         0.000      cutscene_click      basic
2      20090312431273200      2         0.831        person_click      basic
3      20090312431273200      3         1.147        person_click      basic
1      20090312431273200      1         1.323        person_click      basic
4      20090312431273200      4         1.863        person_click      basic
...                  ...    ...           ...                 ...        ...
19995  20090317080721164   1364      2454.048  notification_click      basic
19996  20090317080721164   1365      2455.479        object_click      basic
19997  20090317080721164   1366      2456.860        object_hover  undefined
19998  20090317080721164   1367      2457.726        object_click      basic
19999  20090317080721164   1368      2459.226  notification_click      basic

       level  page  room_coor_x  room_coor_y  screen_coor_x  ...  \
0          0   NaN  -413.991394  -159.314682          380.0  ...
2          0   NaN  -413.991394  -159.314682          380.0  ...
3          0   NaN  -413.991394  -159.314682          380.0  ...
1          0   NaN  -413.991394  -159.314682          380.0  ...
4          0   NaN  -412.991394  -159.314682          381.0  ...
...      ...   ...          ...          ...            ...  ...
19995     21   NaN   406.725525   -73.244423          771.0  ...
19996     21   NaN   406.725525   -73.244423          771.0  ...
19997     21   NaN          NaN          NaN            NaN  ...
19998     21   NaN  -101.274475    15.755580          263.0  ...
19999     21   NaN   423.725525   -83.244423          788.0  ...

       hover_duration                                         text  \
0                 NaN                                    undefined
2                 NaN                       Just talking to Teddy.
3                 NaN                   I gotta run to my meeting!
1                 NaN                Whatcha doing over there, Jo?
4                 NaN                          Can I come, Gramps?
...               ...                                          ...
19995             NaN  I should go to the Capitol and tell Mrs. M!
19996             NaN                                          NaN
19997          7826.0                                          NaN
19998             NaN                                          NaN
19999             NaN                 Look at all those activists!

                            fqid                       room_fqid  \
0                          intro  tunic.historicalsociety.closet
2                         gramps  tunic.historicalsociety.closet
3                         gramps  tunic.historicalsociety.closet
1                         gramps  tunic.historicalsociety.closet
4                         gramps  tunic.historicalsociety.closet
...                          ...                             ...
19995                        NaN  tunic.historicalsociety.stacks
19996   journals_flag.pic_2.next  tunic.historicalsociety.stacks
19997  journals_flag.pic_2.bingo  tunic.historicalsociety.stacks
19998  journals_flag.pic_0.bingo  tunic.historicalsociety.stacks
19999                        NaN  tunic.historicalsociety.stacks

                                               text_fqid fullscreen hq music  \
0                   tunic.historicalsociety.closet.intro          0  0     1
2      tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
3      tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
1      tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
4      tunic.historicalsociety.closet.gramps.intro_0_...          0  0     1
...                                                  ...        ... ..   ...
19995  tunic.historicalsociety.stacks.journals_flag.p...          0  0     1
19996                                                NaN          0  0     1
19997                                                NaN          0  0     1
19998                                                NaN          0  0     1
19999  tunic.historicalsociety.stacks.journals_flag.p...          0  0     1

      level_group difference_clicks
0             0-4             0.000
2             0-4             0.831
3             0-4             0.316
1             0-4             0.176
4             0-4             0.540
...           ...               ...
19995       13-22             0.808
19996       13-22             1.431
19997       13-22             1.381
19998       13-22             0.866
19999       13-22             1.500

[20000 rows x 21 columns]
                   level level_group  event_name  name  fqid  room_fqid  \
session_id
20090312431273200      0         0-4           6     3     5          1
20090312431273200      1         0-4           6     3     6          3
20090312431273200      2         0-4           6     3     8          2
20090312431273200      3         0-4           9     3    13          6
20090312431273200      4         0-4           4     2     5          2
...                  ...         ...         ...   ...   ...        ...
20090317080721164     17       13-22           4     4     5          4
20090317080721164     18       13-22          10     4    17          3
20090317080721164     19       13-22           7     4     9          2
20090317080721164     20       13-22           7     3    14          3
20090317080721164     21       13-22           8     4    15          5

                   text_fqid  fullscreen  hq  music  ...  room_coor_x_std  \
session_id                                           ...
20090312431273200          6           0   0      1  ...       469.524328
20090312431273200          3           0   0      1  ...       358.166662
20090312431273200          5           0   0      1  ...       324.386196
20090312431273200          5           0   0      1  ...       389.874453
20090312431273200          0           0   0      1  ...       422.014525
...                      ...         ...  ..    ...  ...              ...
20090317080721164          2           0   0      1  ...       605.727392
20090317080721164         14           0   0      1  ...       539.819725
20090317080721164          5           0   0      1  ...       699.746370
20090317080721164          3           0   0      1  ...       277.277660
20090317080721164          4           0   0      1  ...       332.716483

                   room_coor_y_std  screen_coor_x_std  screen_coor_y_std  \
session_id
20090312431273200        84.862476         211.047234          87.147142
20090312431273200       116.538196         188.452544          89.020102
20090312431273200       158.503091         178.524529         106.028716
20090312431273200       117.002236         204.998931         106.129303
20090312431273200        41.143422         181.938451          39.566540
...                            ...                ...                ...
20090317080721164       190.298909         254.499702         126.715013
20090317080721164       278.060536         188.042548          94.995875
20090317080721164       334.139127         285.106399         152.887989
20090317080721164       121.906446         190.157612         114.305189
20090317080721164       126.627917         222.888578         112.787849

                   hover_duration_std  difference_clicks_std  \
session_id
20090312431273200           -1.000000               0.473709
20090312431273200           -1.000000               1.068973
20090312431273200         2509.521966               0.520979
20090312431273200         3595.354271               0.886427
20090312431273200          164.755880               8.380692
...                               ...                    ...
20090317080721164           -1.000000               0.983913
20090317080721164         4256.798661               1.662691
20090317080721164          117.126712               1.301016
20090317080721164         3196.247205               1.395779
20090317080721164         2964.786606               1.445493

                   index_sum_of_actions  difference_clicks_max  \
session_id
20090312431273200                    28                  1.784
20090312431273200                    32                  4.864
20090312431273200                    39                  2.215
20090312431273200                    53                  4.540
20090312431273200                    13                 30.837
...                                 ...                    ...
20090317080721164                    29                  4.382
20090317080721164                   135                 14.273
20090317080721164                    67                  6.045
20090317080721164                    49                  8.418
20090317080721164                    54                  8.560

                   elapsed_time_max  clicks_per_second
session_id
20090312431273200            25.766           1.086703
20090312431273200            37.346           0.856852
20090312431273200            34.253           1.138586
20090312431273200            54.712           0.968709
20090312431273200            38.621           0.336604
...                             ...                ...
20090317080721164            40.770           0.711307
20090317080721164           230.340           0.586090
20090317080721164            98.990           0.676836
20090317080721164            67.548           0.725410
20090317080721164            91.930           0.587403

[412 rows x 24 columns]

In [9]:
# Export results
#dataset_df_added.to_csv('data/processed/data_df_added.csv')
#dataset_df_level.to_csv('data/processed/data_df_level.csv')

In [10]:
print(dataset_df_level.dtypes)

level                       uint64
level_group               category
event_name                   int64
name                         int64
fqid                         int64
room_fqid                    int64
text_fqid                    int64
fullscreen                   int32
hq                           int32
music                        int32
hover_duration_mean        float32
difference_clicks_mean     float64
elapsed_time_std           float64
page_std                   float64
room_coor_x_std            float64
room_coor_y_std            float64
screen_coor_x_std          float64
screen_coor_y_std          float64
hover_duration_std         float64
difference_clicks_std      float64
index_sum_of_actions         int32
difference_clicks_max      float64
elapsed_time_max           float64
clicks_per_second          float64
dtype: object

In [11]:
dataset_df_level.columns

Index(['level', 'level_group', 'event_name', 'name', 'fqid', 'room_fqid',
       'text_fqid', 'fullscreen', 'hq', 'music', 'hover_duration_mean',
       'difference_clicks_mean', 'elapsed_time_std', 'page_std',
       'room_coor_x_std', 'room_coor_y_std', 'screen_coor_x_std',
       'screen_coor_y_std', 'hover_duration_std', 'difference_clicks_std',
       'index_sum_of_actions', 'difference_clicks_max', 'elapsed_time_max',
       'clicks_per_second'],
      dtype='object')

In [11]:
#split the dataframe into three different ones depending on the level group
dtypes = {
    'level': np.uint8,
    "level_group": "category",
    'event_name': np.uint8,
    'name': np.uint8,
    'fqid': np.uint8,
    'room_fqid': np.uint8,           
    "text_fqid": np.uint8,
    'fullscreen': np.uint8,
    'hq': np.uint8,
    'music': np.uint8,
    'hover_duration_mean': np.int32,
    'difference_clicks_mean': np.int32,
    'elapsed_time_std': np.int32,
    'page_std': np.int32,
    'room_coor_x_std': np.int32,
    'room_coor_y_std': np.int32,
    'screen_coor_x_std': np.int32,
    'screen_coor_y_std': np.int32,
    'hover_duration_std': np.int32,
    'difference_clicks_std': np.int32,
    'index_sum_of_actions': np.int32,
    'difference_clicks_max': np.int32,
    'elapsed_time_max': np.int32,
    'clicks_per_second': np.int32}
groups = dataset_df_level.groupby('level_group')

# Create a dictionary to store the resulting dataframes
result = {}

# Loop over each group
for name, group in groups:
    # Add the group to the result dictionary
    result[name] = group.astype(dtypes)

# Access the resulting dataframes using their keys
df_0_4 = result['0-4']
df_5_12 = result['5-12']
df_13_22 = result['13-22']
print(df_0_4.dtypes)

level                        uint8
level_group               category
event_name                   uint8
name                         uint8
fqid                         uint8
room_fqid                    uint8
text_fqid                    uint8
fullscreen                   uint8
hq                           uint8
music                        uint8
hover_duration_mean          int32
difference_clicks_mean       int32
elapsed_time_std             int32
page_std                     int32
room_coor_x_std              int32
room_coor_y_std              int32
screen_coor_x_std            int32
screen_coor_y_std            int32
hover_duration_std           int32
difference_clicks_std        int32
index_sum_of_actions         int32
difference_clicks_max        int32
elapsed_time_max             int32
clicks_per_second            int32
dtype: object

In [11]:
dtypes = {
    'level': np.uint8,
    "level_group": "category",
    'event_name': np.uint8,
    'name': np.uint8,
    'fqid': np.uint8,
    'room_fqid': np.uint8,           
    "text_fqid": np.uint8,
    'fullscreen': np.uint8,
    'hq': np.uint8,
    'music': np.uint8,
    'hover_duration_mean': np.int32,
    'difference_clicks_mean': np.int32,
    'elapsed_time_std': np.int32,
    'page_std': np.int32,
    'room_coor_x_std': np.int32,
    'room_coor_y_std': np.int32,
    'screen_coor_x_std': np.int32,
    'screen_coor_y_std': np.int32,
    'hover_duration_std': np.int32,
    'difference_clicks_std': np.int32,
    'index_sum_of_actions': np.int32,
    'difference_clicks_max': np.int32,
    'elapsed_time_max': np.int32,
    'clicks_per_second': np.int32}

In [ ]:
import pandas as pd
import numpy as np

# sample data with NaN values
df = pd.DataFrame({
    'session_id': [1, 1, 2, 2],
    'level_group': ['0-4', '0-4', '0-4', '0-4'],
    'col1': [1, 2, np.nan, 4],
    'col2': [5, 6, 7, 8],
    'col3': [9, 10, 11, np.nan]
})

# get the unique session_ids and columns
session_ids = df['session_id'].unique()
cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in ['col1', 'col2', 'col3']]

# create a new dataframe to hold the flattened data
new_df = pd.DataFrame(columns=cols)

# loop through each session_id
for i, session_id in enumerate(session_ids):
    df_session = df[df['session_id'] == session_id].reset_index(drop=True)
    # combine the columns into a single row
    row_data = [df_session[col].iloc[i] for i in range(len(df_session)) for col in ['col1', 'col2', 'col3']] 
    # add None values to the row if necessary to make it the same length as the columns
    if len(row_data) < len(cols) - 1:
        row_data += [None] * (len(cols) - len(row_data) - 1)
    # add the session_id to the beginning of the row
    row_data = [session_id] + row_data
    # add the row to the new dataframe
    new_df.loc[len(new_df)] = row_data

# fill NaN values with np.nan
new_df = new_df.fillna(np.nan)

# convert the columns back to their original datatypes
for col in ['col1', 'col2', 'col3']:
    new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

# sort the columns
new_df = new_df[cols]

print(new_df)

In [ ]:
#putdated!!!!!!!!
import pandas as pd
import numpy as np

def flatten_df(df):
    # create a new index col
    df = df.reset_index()
    df['_index'] = df.index + 1
    df = df.set_index('_index')
    df = df.drop(["level_group"], axis= 1)

    # get the unique session_ids and columns
    session_ids = df['session_id'].unique()
    cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

    # create a new dataframe to hold the flattened data
    new_df = pd.DataFrame(columns=cols)

    # loop through each session_id
    for i, session_id in enumerate(session_ids):
        df_session = df[df['session_id'] == session_id].reset_index(drop=True)
        # combine the columns into a single row
        row_data = [df_session[col].iloc[i] if pd.notnull(df_session[col].iloc[i]) else np.nan for i in range(len(df_session)) for col in df.columns if col != 'session_id'] 
        # add None values to the row if necessary to make it the same length as the columns
        if len(row_data) < len(cols) - 1:
            row_data += [np.nan] * (len(cols) - len(row_data) - 1)
        # add the session_id to the beginning of the row
        row_data = [session_id] + row_data
        # add the row to the new dataframe
        new_df.loc[len(new_df)] = row_data

    # fill NaN values with np.nan
    new_df = new_df.fillna(np.nan)

    # convert the columns back to their original datatypes
    for col in df.columns:
        if col != 'session_id':
            new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

    # sort the columns
    new_df = new_df[cols]

    return new_df

In [ ]:
new_df = flatten_df(df_5_12)

In [ ]:
import pandas as pd
import numpy as np

def flatten_df(df):
    # create a new index col
    df = df.reset_index()
    df['_index'] = df.index + 1
    df = df.set_index('_index')
    df = df.drop(["level_group"], axis= 1)

    # get the unique session_ids and columns
    session_ids = df['session_id'].unique()
    cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

    # create a new dataframe to hold the flattened data
    new_df = pd.DataFrame(columns=cols)

    # define a function to apply to each group
    def flatten_group(group):
        # combine the columns into a single row
        row_data = [group[col].iloc[i] if pd.notnull(group[col].iloc[i]) else np.nan for i in range(len(group)) for col in group.columns if col != 'session_id'] 
        # add None values to the row if necessary to make it the same length as the columns
        if len(row_data) < len(cols) - 1:
            row_data += [np.nan] * (len(cols) - len(row_data) - 1)
        # add the session_id to the beginning of the row
        row_data = [group['session_id'].iloc[0]] + row_data
        return pd.Series(row_data, index=cols)

    # apply the function to each group and concatenate the results
    new_df = pd.concat([flatten_group(group) for _, group in df.groupby('session_id')], axis=1).T

    # fill NaN values with np.nan
    new_df = new_df.fillna(np.nan)

    # convert the columns back to their original datatypes
    for col in df.columns:
        if col != 'session_id':
            new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

    # sort the columns
    new_df = new_df[cols]

    # remove columns that contain only NaN values
    new_df = new_df.dropna(axis=1, how='all')

    return new_df

In [23]:
import pandas as pd
import numpy as np

def flatten_df(df):
    # create a new index col
    df = df.reset_index()
    df['_index'] = df.index + 1
    df = df.set_index('_index')
    df = df.drop(["level_group"], axis= 1)

    # get the unique session_ids and columns
    session_ids = df['session_id'].unique()
    cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

    # create a new dataframe to hold the flattened data
    new_df = pd.DataFrame(columns=cols)

    # define a function to apply to each group
    def flatten_group(group):
        # combine the columns into a single row
        row_data = [group[col].iloc[i] if pd.notnull(group[col].iloc[i]) else np.nan for i in range(len(group)) for col in group.columns if col != 'session_id'] 
        # add None values to the row if necessary to make it the same length as the columns
        if len(row_data) < len(cols) - 1:
            row_data += [np.nan] * (len(cols) - len(row_data) - 1)
        # add the session_id to the beginning of the row
        row_data = [group['session_id'].iloc[0]] + row_data
        return pd.Series(row_data, index=cols)

    # apply the function to each group and concatenate the results
    new_df = pd.concat([flatten_group(group) for _, group in df.groupby('session_id')], axis=1).T

    # fill NaN values with np.nan
    new_df = new_df.fillna(np.nan)

    # convert the columns back to their original datatypes
    for col in df.columns:
        if col != 'session_id':
            new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

    # sort the columns
    new_df = new_df[cols]

    # remove columns that contain only NaN values
    new_df = new_df.dropna(axis=1, how='all')

    return new_df

In [ ]:
df_0_4_flattened, df_5_12_flattened, df_13_22_flattened = flatten_df(dataset_df_level, exclude= ["level", "music","hq","fullscreen"])

In [33]:
df_0_4_flat = flatten_df(df_0_4, exclude= ["level", "music","hq","fullscreen"])

In [32]:
import pandas as pd
import numpy as np

def flatten_df(df, exclude=[]):
    # create a new index col
    df = df.reset_index()
    df['_index'] = df.index + 1
    df = df.set_index('_index')
    df = df.drop(["level_group"], axis= 1)

    # get the unique session_ids and columns
    session_ids = df['session_id'].unique()
    cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

    # create a new dataframe to hold the flattened data
    new_df = pd.DataFrame(columns=cols)

    # define a function to apply to each group
    def flatten_group(group):
        # combine the columns into a single row
        row_data = [group[col].iloc[i] if pd.notnull(group[col].iloc[i]) else np.nan for i in range(len(group)) for col in group.columns if col != 'session_id'] 
        # add None values to the row if necessary to make it the same length as the columns
        if len(row_data) < len(cols) - 1:
            row_data += [np.nan] * (len(cols) - len(row_data) - 1)
        # add the session_id to the beginning of the row
        row_data = [group['session_id'].iloc[0]] + row_data
        return pd.Series(row_data, index=cols)

    # apply the function to each group and concatenate the results
    new_df = pd.concat([flatten_group(group) for _, group in df.groupby('session_id')], axis=1).T

    # fill NaN values with np.nan
    new_df = new_df.fillna(np.nan)

    # convert the columns back to their original datatypes
    for col in df.columns:
        if col != 'session_id':
            new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

    # sort the columns
    new_df = new_df[cols]

    # remove columns that contain only NaN values
    new_df = new_df.dropna(axis=1, how='all')

    # remove specified columns from exclude list
    for col_name in exclude:
        new_df = new_df[[col for col in new_df.columns if not (col.startswith(col_name + '_') and col != col_name + '_1')]]

    return new_df

In [18]:
import pandas as pd
import numpy as np

def flatten_df(dataset_df_level, exclude=[]):
    #split the dataframe into three different ones depending on the level group
    groups = dataset_df_level.groupby('level_group')

    # Create a dictionary to store the resulting dataframes
    result = {}

    # Loop over each group
    for name, group in groups:
        # Add the group to the result dictionary
        result[name] = group

    # Access the resulting dataframes using their keys
    df_0_4 = result['0-4']
    df_5_12 = result['5-12']
    df_13_22 = result['13-22']

    dfs = [df_0_4, df_5_12, df_13_22]
    flattened_dfs = []

    for df in dfs:
        # create a new index col
        df = df.reset_index()
        df['_index'] = df.index + 1
        df = df.set_index('_index')
        df = df.drop(["level_group"], axis= 1)

        # get the unique session_ids and columns
        session_ids = df['session_id'].unique()
        cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

        # create a new dataframe to hold the flattened data
        new_df = pd.DataFrame(columns=cols)

        # define a function to apply to each group
        def flatten_group(group):
            # combine the columns into a single row
            row_data = [group[col].iloc[i] if pd.notnull(group[col].iloc[i]) else np.nan for i in range(len(group)) for col in group.columns if col != 'session_id'] 
            # add None values to the row if necessary to make it the same length as the columns
            if len(row_data) < len(cols) - 1:
                row_data += [np.nan] * (len(cols) - len(row_data) - 1)
            # add the session_id to the beginning of the row
            row_data = [group['session_id'].iloc[0]] + row_data
            return pd.Series(row_data, index=cols)

        # apply the function to each group and concatenate the results
        new_df = pd.concat([flatten_group(group) for _, group in df.groupby('session_id')], axis=1).T

        # fill NaN values with np.nan
        new_df = new_df.fillna(np.nan)

        # convert the columns back to their original datatypes
        for col in df.columns:
            if col != 'session_id':
                new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

        # sort the columns
        new_df = new_df[cols]

        # remove columns that contain only NaN values
        new_df = new_df.dropna(axis=1, how='all')

        # remove specified columns from exclude list
        for col_name in exclude:
            new_df = new_df[[col for col in new_df.columns if not (col.startswith(col_name + '_') and col != col_name + '_1')]]

        flattened_dfs.append(new_df)

    return flattened_dfs[0], flattened_dfs[1], flattened_dfs[2]

In [9]:
def flatten_df_one_at_a_time(df, exclude=[]):
    # create a new index col
    df = df.reset_index()
    df['_index'] = df.index + 1
    df = df.set_index('_index')
    df = df.drop(["level_group"], axis=1)

    # get the unique session_ids and columns
    session_ids = df['session_id'].unique()
    cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

    # create a new dataframe to hold the flattened data
    new_df = pd.DataFrame(columns=cols)

    # define a function to apply to each group
    def flatten_group(group):
        # combine the columns into a single row
        row_data = [group[col].iloc[i] if pd.notnull(group[col].iloc[i]) else np.nan for i in range(len(group)) for col in group.columns if col != 'session_id']
        # add None values to the row if necessary to make it the same length as the columns
        if len(row_data) < len(cols) - 1:
            row_data += [np.nan] * (len(cols) - len(row_data) - 1)
        # add the session_id to the beginning of the row
        row_data = [group['session_id'].iloc[0]] + row_data
        return pd.Series(row_data, index=cols)

    # apply the function to each group and concatenate the results
    new_df = pd.concat([flatten_group(group) for _, group in df.groupby('session_id')], axis=1).T

    # fill NaN values with np.nan
    new_df = new_df.fillna(np.nan)

    # convert the columns back to their original datatypes
    for col in df.columns:
        if col != 'session_id':
            new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]] = new_df[[f'{col}_{i+1}' for i in range(len(session_ids))]].astype(df[col].dtype, errors='ignore')

    # sort the columns
    new_df = new_df[cols]

    # remove columns that contain only NaN values
    new_df = new_df.dropna(axis=1, how='all')

    # remove specified columns from exclude list
    for col_name in exclude:
        new_df = new_df[[col for col in new_df.columns if not (col.startswith(col_name + '_') and col != col_name + '_1')]]

    return new_df

In [ ]:
ex = ["level", "music","hq","fullscreen"]
df_0_4 = flatten_df_one_at_a_time(df_0_4,exclude= ex)

In [21]:
def flatten_df_one_at_a_time(df, exclude=[]):
    # create a new index col
    df.reset_index(inplace=True)
    df['_index'] = df.index + 1
    df.set_index('_index', inplace=True)
    
    # drop the excluded columns
    for col in exclude:
        if col in df.columns:
            df.drop(col, axis=1, inplace=True)

    # get the unique session_ids and columns
    session_ids = df['session_id'].unique()
    cols = ['session_id'] + [f'{col}_{i+1}' for i in range(len(session_ids)) for col in df.columns if col != 'session_id']

    # create a new dataframe to hold the flattened data
    new_df = pd.DataFrame(columns=cols)

    # define a function to apply to each group
    def flatten_group(group):
        # combine the columns into a single row
        row_data = []
        row_data_extend = row_data.extend
        for i in range(len(group)):
            for col in group.columns:
                if col != 'session_id':
                    if pd.notnull(group[col].iloc[i]):
                        row_data_extend([group[col].iloc[i]])
                    else:
                        row_data_extend([np.nan])
        # add None values to the row if necessary to make it the same length as the columns
        if len(row_data) < len(cols) - 1:
            row_data_extend([np.nan] * (len(cols) - len(row_data) - 1))
        # add the session_id to the beginning of the row
        row_data = [group['session_id'].iloc[0]] + row_data
        return pd.Series(row_data, index=cols)

    # apply the function to each group and concatenate the results
    new_df = pd.concat([flatten_group(group) for _, group in df.groupby('session_id')], axis=1).T

    # fill NaN values with np.nan
    new_df.fillna(np.nan, inplace=True)

    # convert the columns back to their original datatypes
    col_dtype_map = {col: df[col].dtype for col in df.columns if col != 'session_id'}
    new_df[list(col_dtype_map.keys())] = new_df[list(col_dtype_map.keys())].astype(col_dtype_map, errors='ignore')

    # sort the columns
    new_df = new_df[cols]

    # remove columns that contain only NaN values
    new_df.dropna(axis=1, how='all', inplace=True)

    # remove specified columns from exclude list
    for col in exclude:
        if col in new_df.columns:
            new_df.drop(col, axis=1, inplace=True)

    return new_df

In [22]:
ex = ["level", "music","hq","fullscreen"]
df_0_4 = flatten_df_one_at_a_time(df_0_4,exclude= ex)

KeyError: 'session_id'

In [7]:
dtypes = {
    'level': np.uint8,
    "level_group": "category",
    'event_name': np.uint8,
    'name': np.uint8,
    'fqid': np.uint8,
    'room_fqid': np.uint8,           
    "text_fqid": np.uint8,
    'fullscreen': np.uint8,
    'hq': np.uint8,
    'music': np.uint8,
    'hover_duration_mean': np.float32,
    'difference_clicks_mean': np.float32,
    'elapsed_time_std': np.float32,
    'page_std': np.float32,
    'room_coor_x_std': np.float32,
    'room_coor_y_std': np.float32,
    'screen_coor_x_std': np.float32,
    'screen_coor_y_std': np.float32,
    'hover_duration_std': np.float32,
    'difference_clicks_std': np.float32,
    'index_sum_of_actions': np.float32,
    'difference_clicks_max': np.float32,
    'elapsed_time_max': np.float32,
    'clicks_per_second': np.float32}

dataset_df = pd.read_csv("data/processed/dataset_df_level.csv", dtype=dtypes)
groups = dataset_df.groupby('level_group')

# Create a dictionary to store the resulting dataframes
result = {}

# Loop over each group
for name, group in groups:
    # Add the group to the result dictionary
    result[name] = group

# Access the resulting dataframes using their keys
df_0_4 = result['0-4']
df_5_12 = result['5-12']
df_13_22 = result['13-22']

#df_5_12.to_csv('data/processed/df_5_12_flattened.csv')
#df_0_4.to_csv('data/processed/df_0_4_flattened.csv')
#df_13_22.to_csv('data/processed/df_13_22_flattened.csv')
print(df_0_4.dtypes)

session_id                   int64
level                        uint8
level_group               category
event_name                   uint8
name                         uint8
fqid                         uint8
room_fqid                    uint8
text_fqid                    uint8
fullscreen                   uint8
hq                           uint8
music                        uint8
hover_duration_mean        float32
difference_clicks_mean     float32
elapsed_time_std           float32
page_std                   float32
room_coor_x_std            float32
room_coor_y_std            float32
screen_coor_x_std          float32
screen_coor_y_std          float32
hover_duration_std         float32
difference_clicks_std      float32
index_sum_of_actions       float32
difference_clicks_max      float32
elapsed_time_max           float32
clicks_per_second          float32
dtype: object